.post{
    background-color: white;
    max-width: 500px;
    border: 1px solid lightgray;
    margin-bottom: 45px;
}

.post__image{
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.post__text{
    font-weight: normal;
    padding: 20px;  /* adding padding(space) in every direction up and down*/
}

.post__header{
    align-items: center;
    display: flex;  /* show everything in line */
    padding: 20px;  /* adding padding(space) in every direction up and down*/
}

.post__avatar{
    margin-right: 10px; /* distance betwween username and avatar*/
}

.post__commentbox{
    display: flex;
    margin-top: 10px;
}

.post__input{
    flex: 1; /* flex spacing */
    border: none;
    padding: 10px;
    border-top: 1px solid lightgray;
}

.post__button{
    flex: 0; /* take min space */
    border: none;
    color: blue;
    border-top: 1px solid lightgray;
}

.post__comments{
    padding: 20px;
}
